@model IEnumerable<CarListingViewModel>


<div class="row">
    @foreach (var car in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@car.ImageUrl" alt="@car.Brand @car.Model - @car.Year (@car.Category)">
            <div class="card-body">
                <h5 class="card-title">@car.Brand @car.Model (@car.Year)</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>

